<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Allergenenkaart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head> 
<body>

    <div class="alert-overlay" id="alertOverlay">
        <div class="alert">
            <div class="alert-message">
                <h3>Let op!</h3>
                <p>De Ossenhaas kan eventueel bereid worden in Olijfolie in plaats van Soja. Voor meer info vraag een medewerker.</p>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="top">
            <a href="/templates/index.html"><img src="/static/assets/Logo-Hebberd-zwart.svg" alt="Hebberd Logo" ></a>
            <p>Allergenenkaart</p>
            <div class="underline-img"><img src="/static/assets/Untitled design.svg" width="100%"></div>
        </div>


        <div id="allergen-filters">
            <p class="vraag" style="font-size: 4vw; font-weight: bold;">Ik ben allergisch voor:</p>
            <button class="btn-filter" data-filter="Gluten"><img src="/static/assets/Iconen allergenen/Gluten.svg" alt="Gluten"><p>Gluten</p></button>
            <button class="btn-filter" data-filter="Lactose"><img src="/static/assets/Iconen allergenen/Lactose.svg" alt="Lactose"><p>lactose</p></button>
            <button class="btn-filter" data-filter="Ei"><img src="/static/assets/Iconen allergenen/egg.svg" alt="Ei"><p>Ei</p></button>
            <button class="btn-filter" data-filter="Lupine"><img src="/static/assets/Iconen allergenen/lupine.svg" alt="Lupine"><p>Lupine</p></button>
            <button class="btn-filter" data-filter="Noten"><img src="/static/assets/Iconen allergenen/Noten.svg" alt="Noten"><p>Noten</p></button>
            <button class="btn-filter" data-filter="Pindas"><img src="/static/assets/Iconen allergenen/pindas.svg" alt="Pindas"><p>Pinda's</p></button>
            <button class="btn-filter" data-filter="Sesamzaad"><img src="/static/assets/Iconen allergenen/Sesamzaad.svg" alt="Sesamzaad"><p>Sesamzaad</p></button>
            <button class="btn-filter" data-filter="Zwaveldioxide"><img src="/static/assets/Iconen allergenen/zwaveldioxide.svg" alt="Zwaveldioxide"><p>Zwaveldioxide</p></button>
            <button class="btn-filter" data-filter="Selderij"><img src="/static/assets/Iconen allergenen/celery.svg" alt="Selderij"><p>Selderij</p></button>
            <button class="btn-filter" data-filter="Mosterd"><img src="/static/assets/Iconen allergenen/Mosterd.svg" alt="Mosterd"><p>Mosterd</p></button>
            <button class="btn-filter" data-filter="Vis"><img src="/static/assets/Iconen allergenen/Vis.svg" alt="Vis"><p>Vis</p></button>
            <button class="btn-filter" data-filter="Soja"><img src="/static/assets/Iconen allergenen/soya.svg" alt="Soja"><p>Soja</p></button>
            <button class="btn-filter" data-filter="Weekdieren"><img src="/static/assets/Iconen allergenen/weekdieren.svg" alt="Weekdieren"><p>Weekdieren</p></button>
            <button class="btn-filter" data-filter="Schaaldieren"><img src="/static/assets/Iconen allergenen/Schaaldieren.svg" alt="Schaaldieren"><p>Schaaldieren</p></button>

        </div>

    <div class="gerechten" id="lunch-gerechten">
        <div class="titel">
            <p>Liefhebberdjes</p>
            <img src="/static/assets/Untitled design.svg" alt="underline" style="width: 100%;">
        </div>

        <div class="gerecht filterDiv Ei Gluten Melk Mosterd Soja Sezamzaad Vis">
            <div class="text-container">
                <h3>Liflafjes</h3>
                <p>Onze specialiteit! Een heerlijke lunchgerecht bestaande uit meerdere kleine gerechtjes van onze kaart. <br>Van alles Wat!<br></p>
            </div>
        </div>
        
        <div class="gerecht filterDiv Soja">
            <div class="text-container">
                <h3>Broodje Kiep</h3>
                <p>Een rijk belegd broodje met o.a. gemarineerde kippenreepjes, ananas, cashewnoten en chilimayonaise.</p>
            </div>
        </div>
        
        <div class="gerecht filterDiv Melk">
            <div class="text-container">
                <h3>Tosti de Hebberd</h3>
                <p>Tosti met gerookte kip, oude kaas, sambal, geserveerd met frites en cocktailsaus.</p>
            </div>
        </div>

        <div class="gerecht filterDiv ">
            <div class="text-container">
                <h3>Broodje van de Maand</h3>
                <p>Een wisselend broodje ontstaan in het creatieve brein van onze koks.</p>
            </div>
        </div>

        <div class="titel">
            <p>Belegde Broodjes</p>
            <img src="/static/assets/Untitled design.svg" alt="underline" style="width: 100%;">
        </div>
        
        <div class="gerecht filterDiv Vis">
            <div class="text-container">
                <h3>Avocado Zalm</h3>
                <p>Toast met avocadocrème, gerookte zalm en een gekookt eitje.</p>
            </div>
        </div>

        <div class="gerecht filterDiv ">
            <div class="text-container">
                <h3>Sandwich de Hebberd</h3>
                <p>Toast met o.a. gerookte kip, oude kaas, bacon, ei en cocktailsaus.</p>
            </div>
        </div>
        
        <div class="gerecht filterDiv">
            <div class="text-container">
                <h3>Carpaccio de Hebberd</h3>
                <p>Carpaccio van rundvlees met o.a. Permezaanse kaas, zongedroogde tomaat en keuze uit truffel- of pestomayonaise.</p>
            </div>
        </div>

        <div class="gerecht filterDiv Selderij">
            <div class="text-container">
                <h3>Knolselderij carpaccio</h3>
                <p>Carpaccio van knolselderij net o.a. Permezaanse kaas, zongedroogde tomaat en keuze uit truffel- of pestomayonaise.</p>
            </div>
        </div>
        
        <div class="gerecht filterDiv Ei Melk Mosterd Vis">
            <div class="text-container">
                <h3>Tonijnsalade</h3>
                <p>Huisgemaakte Tonijnsalade met o.a. sla, komkommer en rucola</p>
            </div>
        </div>
        
        <div class="gerecht filterDiv Soja Zwaveldioxide">
            <div class="text-container">
                <h3>Pulled Chicken</h3>
                <p>Langzaam gegaarde kip met o.a. atjar, paprika en zoetzure komkommer.</p>
            </div>
        </div>
        
        <div class="gerecht filterDiv Melk">
            <div class="text-container">
                <h3>Gesmolten Toestand</h3>
                <p>Gesmolten brie met o.a. honing, walnoten en tomatentapanade.</p>
            </div>
        </div>

        <div class="gerecht filterDiv ">
            <div class="text-container">
                <h3>Warmvlees</h3>
                <p>Warmvlees gebakken met champignons en ui, satésaus en een gebakken ei.</p>
            </div>
        </div>
        

        <div class="titel">
            <p>Salades</p>
            <img src="/static/assets/Untitled design.svg" alt="underline" style="width: 100%;">
        </div>

        <div class="gerecht filterDiv Vis">
            <div class="text-container">
                <h3>Salade Vis</h3>
                <p>Salade geserveerd met o.a. gerookte zalm, rivierkreeftjes en tonijnsalade</p>
            </div>
        </div>
        
        <div class="gerecht filterDiv Soja">
            <div class="text-container">
                <h3>Salade Kip</h3>
                <p>Salade geserveerd met o.a. oosters gebakken kippenreepjes, ananas en cashewnoten.</p>
            </div>
        </div>

        <div class="gerecht filterDiv Soja">
            <div class="text-container">
                <h3>Salade Carpaccio</h3>
                <p>Carpaccio salade met o.a. Parmezaanse kaas, zongedroogde tomaat en keuze uit truffel- of pestomayonaise</p>
            </div>
        </div>

        <div class="gerecht filterDiv Soja">
            <div class="text-container">
                <h3>Salade Geitenkaas</h3>
                <p>Salade geserveerd met o.a. lauwwarme geitenkaas, honing en krokante bacon</p>
            </div>
        </div>

        <div class="gerecht filterDiv Soja">
            <div class="text-container">
                <h3>Salade Knolselderij Carpaccio</h3>
                <p>Knolselderij carpaccio salade met o.a. Parmezaanse kaas, zongedroogde tomaat en keuze uit truffel- of pestomayonaise</p>
            </div>
        </div>

        <div class="titel">
            <p>Ei-Gerechten</p>
            <img src="/static/assets/Untitled design.svg" alt="underline" style="width: 100%;">
        </div>

        <div class="gerecht filterDiv Ei">
            <div class="text-container">
                <h3>Uitsmijter de Hebberd</h3>
                <p></p>
            </div>
        </div>
        
        <div class="gerecht filterDiv Melk Ei">
            <div class="text-container">
                <h3>Uitsmijter Kaas</h3>
                <p></p>
            </div>
        </div>
        
        <div class="gerecht filterDiv Ei">
            <div class="text-container">
                <h3>Uitsmijter Ham of Spek</h3>
                <p></p>
            </div>
        </div>
        
        <div class="gerecht filterDiv Ei Melk">
            <div class="text-container">
                <h3>Uitsmijter Ham/Spek en Kaas</h3>
                <p></p>
            </div>
        </div>
        
        <div class="gerecht filterDiv Ei Melk Selderij">
            <div class="text-container">
                <h3>Omelet de Hebberd</h3>
                <p></p>
            </div>
        </div>
        
        <div class="gerecht filterDiv Ei Melk Selderij">
            <div class="text-container">
                <h3>Omelet Kaas</h3>
                <p></p>
            </div>
        </div>
        
        <div class="gerecht filterDiv Ei Melk Selderij">
            <div class="text-container">
                <h3>Omelet Ham/Spek</h3>
                <p></p>
            </div>
        </div>
        
        <div class="gerecht filterDiv Ei Melk Selderij">
            <div class="text-container">
                <h3>Omelet Ham/Spek en Kaas</h3>
                <p></p>
            </div>
        </div>

        <div class="titel">
            <p>Burgers</p>
            <img src="/static/assets/Untitled design.svg" alt="underline" style="width: 100%;">
        </div>
        
        <div class="gerecht filterDiv Gluten Selderij">
            <div class="text-container">
                <h3>Kipburger</h3>
                <p></p>
            </div>
        </div>

        <div class="titel">
            <p>Tosti's</p>
            <img src="/static/assets/Untitled design.svg" alt="underline" style="width: 100%;">
        </div>
        
        <div class="gerecht filterDiv Melk">
            <div class="text-container">
                <h3>Tosti Brie</h3>
                <p></p>
            </div>
        </div>
        
        <div class="gerecht filterDiv Melk">
            <div class="text-container">
                <h3>Tosti de Hebberd</h3>
                <p></p>
            </div>
        </div>
        

        <div class="titel">
            <p>Soepen</p>
            <img src="/static/assets/Untitled design.svg" alt="underline" style="width: 100%;">
        </div>

        <div class="gerecht filterDiv Selderij">
            <div class="text-container">
                <h3>Chinese Tomatensoep</h3>
                <p></p>
            </div>
        </div>
        
        <div class="gerecht filterDiv Melk">
            <div class="text-container">
                <h3>Opas Kerriesoep</h3>
                <p></p>
            </div>
        </div>

        <div class="titel">
            <p>Kroketten</p>
            <img src="/static/assets/Untitled design.svg" alt="underline" style="width: 100%;">
        </div>
        
        <div class="gerecht filterDiv Gluten Melk Selderij">
            <div class="text-container">
                <h3>Rundvlees Kroketten</h3>
                <p></p>
            </div>
        </div>
        
        <div class="gerecht filterDiv Gluten Lupine Soja">
            <div class="text-container">
                <h3>Groente Kroketten</h3>
                <p></p>
            </div>
        </div>

    </div>
    <div class="gerechten" id="dinner-gerechten">
        <div class="titel">
            <p>Voorgerechten</p>
            <img src="/static/assets/Untitled design.svg" alt="underline" style="width: 100%;">
        </div>
        
        <div class="gerecht filterDiv Selderij">
            <div class="text-container">
                <h3>Knolselderij carpaccio</h3>
                <p></p>
            </div>
        </div>
        
        <div class="gerecht filterDiv Soja">
            <div class="text-container">
                <h3>Yin & Yang</h3>
                <p></p>
            </div>
        </div>
        
        <div class="gerecht filterDiv Schaaldieren Soja">
            <div class="text-container">
                <h3>Gamba Bijeenkomst</h3>
                <p></p>
            </div>
        </div>

        <div class="titel">
            <p>Hoofdgerechten</p>
            <img src="/static/assets/Untitled design.svg" alt="underline" style="width: 100%;">
        </div>
        
        <div class="gerecht filterDiv Ei Gluten Vis">
            <div class="text-container">
                <h3>Knabbeljauw</h3>
                <p></p>
            </div>
        </div>
        
        <div class="gerecht filterDiv Gluten Ei Melk">
            <div class="text-container">
                <h3>Truffelpasta</h3>
                <p></p>
            </div>
        </div>
        
        <div class="gerecht filterDiv Melk Soja">
            <div class="text-container">
                <h3>Risotto</h3>
                <p></p>
            </div>
        </div>
        
        <div class="gerecht filterDiv Soja">
            <div class="text-container">
                <h3>Kluivertjes</h3>
                <p></p>
            </div>
        </div>
        
        <div class="gerecht filterDiv Gluten Selderij">
            <div class="text-container">
                <h3>Kipburger</h3>
                <p></p>
            </div>
        </div>

        <div class="gerecht filterDiv Ei Gluten Soja-alert">
            <div class="text-container">
                <h3>'t Haasje zijn'</h3>
                <p>Ossenhaas medaillons omwikkeld met spek, met wokgroenten en Stroganoffsaus | 26.5</p>
            </div>

                <button class="alert-btn" style="display:none;"><img src="/static/assets/Exclamation_Mark_cleaned.svg" style="width: 100%;" alt="!" class="uitroepteken"></button>
        </div>
        
        <div class="gerecht filterDiv Gluten">
            <div class="text-container">
                <h3>Kenniekieze</h3>
                <p></p>
            </div>
        </div>
        
        <div class="gerecht filterDiv Selderij Soja">
            <div class="text-container">
                <h3>Vlinders in de buik</h3>
                <p></p>
            </div>
        </div>
        
        <div class="gerecht filterDiv Ei Gluten">
            <div class="text-container">
                <h3>Dat wordt Lappen</h3>
                <p></p>
            </div>
        </div>

        <div class="titel">
            <p>Nagerechten</p>
            <img src="/static/assets/Untitled design.svg" alt="underline" style="width: 100%;">
        </div>
        
        <div class="gerecht filterDiv Gluten Ei Noten Pinda Melk">
            <div class="text-container">
                <h3>Liflaf</h3>
                <p></p>
            </div>
        </div>
        
        <div class="gerecht filterDiv Melk">
            <div class="text-container">
                <h3>Dame Blanche</h3>
                <p></p>
            </div>
        </div>
        
        <div class="gerecht filterDiv Gluten Melk">
            <div class="text-container">
                <h3>Cheesecake</h3>
                <p></p>
            </div>
        </div>
        
        <div class="gerecht filterDiv Ei Melk">
            <div class="text-container">
                <h3>Crème Brûlée</h3>
                <p></p>
            </div>
        </div>
        
        <div class="gerecht filterDiv Gluten Melk Ei">
            <div class="text-container">
                <h3>Tiramisu</h3>
                <p></p>
            </div>
        </div>
        
        <div class="gerecht filterDiv Gluten Melk">
            <div class="text-container">
                <h3>Apfelstrudel</h3>
                <p></p>
            </div>
        </div>
        
        <div class="gerecht filterDiv Gluten Melk Noten">
            <div class="text-container">
                <h3>Perzik Crumble</h3>
                <p></p>
            </div>
        </div>
        
        <div class="gerecht filterDiv Gluten Melk Noten Pindas">
            <div class="text-container">
                <h3>Koffie Compleet</h3>
                <p></p>
            </div>
        </div>
        
        <div class="gerechten" id="borrel-gerechten"></div>
        
        </div>
        

        

    </div>
    </div>
    <div class="undertext">
        <p>Copyright 2025</p>
    </div>

    <script src="{{ url_for('static', filename='js/filters.js') }}"></script>
    <script src="{{ url_for('static', filename='js/time-filter.js') }}"></script>
</body>
</html>
